<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Best Store</title>
</head>
<body>

 <!-- <table class="table">
  
 <tr>
 <td><h3>Id:</h3></td>     
 <td th:text="${save.id}"></td>
 </tr>
 <tr>
 <td><h3>Name:</h3></td>     
<td th:text="${save.name}"></td>
</tr>
<tr>
 <td><h3>Brand:</h3></td>     
 <td th:text="${save.brand}"></td>
 </tr>
 <tr>
<td><h3>Category:</h3></td>     
<td th:text="${save.category}"></td>
</tr>
<tr>
 <td><h3>Price:</h3></td>     
 <td th:text="@{${save.price} +'$'}"></td>
 </tr>
 
   </table>
   -->
   <script>
   alert('Successfully created');  
   
   </script>


</body>
</html>